@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@font-face {
  font-family: 'Gilroy';
  src: url("../font/Gilroy-ExtraBold.woff2") format("woff2"), url("../font/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../font/Gilroy-Light.woff2") format("woff2"), url("../font/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Verdana';
  src: url("../font/Verdana.woff2") format("woff2"), url("../font/Verdana.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Verdana';
  src: url("../font/Verdana-Bold.woff2") format("woff2"), url("../font/Verdana-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
